<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/global-head-tags.ejs') %>
  </head>
  <body>
    <main>
      <%- include('partials/navigation.ejs') %>
      <h1>Users</h1>
      <% if (users && users.length > 0) { %>
      <ul>
        <% users.forEach((user) => { %>
        <li><%= user.username %></li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>No users.</p>
      <% } %>
    </main>
  </body>
</html>
